.owl-happenings .item {
    height: 400px; 
    background: #4a4a4a;
    color: #fff;
    padding: 0px;
}
.owl-happenings .item  img{
    height: 400px; 
    background: #4a4a4a;
    color: #fff;
    padding: 0px;
}
